{% load static %}
<!DOCTYPE html> 

<html>  
   <head> 
        <meta charset = "utf-8"> 
        <title>Login</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <style>
            body{
                background-color:#eee;
            }

            .img-div{
                background-image: url('{% static "360_F_715237623_WhO9EcIUBx1IshiL9fLTP2LmpAOBGGIx.jpg" %}');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .mb-10{
                margin-bottom: 10px;
            }

            .mb-10 > label{
                margin:5px;
            }
        </style>
    </head> 
  
   <body> 
      <div class="container-fluid min-vh-100 d-flex flex-column">
        <div class="row">
            <div class="col-md-6 min-vh-100" style="justify-items: center; position: relative; top:30px;">
                <div class="card"  style="width:70%;">
                    <form action="{%url 'home' %}" method="post">
                        {% csrf_token %}
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body" style="padding:10px 10px;">
                            <div class="mb-10">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                            <div class="mb-10">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="passwd" id="password">
                            </div>
                            <div style="text-align:center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 img-div min-vh-100" ></div>
        </div>
      </div>
   </body> 
</html> 